.box{
    position: relative;
    display: inline-block;
}
.texto{
    position: absolute;
    top: 0px;
    left: 40%;
    font-size: 90px;
    font-weight: 700;
    color: rgb(242, 248, 248);
    text-shadow: 1px 1px 40px rgb(0, 0, 0);
}